Repository AlexTesta00/CodeMaster: changes, and which Codecov flags are due for each by the changed paths.
All: authentication-service, codequest-service, user-service

feat(user): add /status for check if user service is ready or not
  user-service/eslint.config.mjs
  user-service/src/main/nodejs/codemaster/servicies/user/infrastructure/consumer.ts
  user-service/src/main/nodejs/codemaster/servicies/user/infrastructure/db-connection.ts
  user-service/src/main/nodejs/codemaster/servicies/user/interfaces/error-code.ts
  user-service/src/main/nodejs/codemaster/servicies/user/interfaces/user-controller.ts
  user-service/src/main/nodejs/codemaster/servicies/user/interfaces/user-route.ts
Due: user-service

feat(authenticaton): add /status route for check if authentication service is ready
  authentication-service/eslint.config.mjs
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/infrastructure/db-connection.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/infrastructure/publisher.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/interfaces/authentication-controller.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/interfaces/authentication-routes.ts
Due: authentication-service

feat(community-service): add community service repository
  community-service/src/main/nodejs/codemaster/servicies/community/infrastructure/comment-repository-impl.ts
  community-service/src/main/nodejs/codemaster/servicies/community/infrastructure/comment-repository.ts
Due: none

feat(docker): now when start services in production, the user-service and authentication-service db populating
  docker-compose.yml
  populate-db/Dockerfile
  populate-db/db-service.py
  user-service/src/main/nodejs/codemaster/servicies/user/interfaces/level-route.ts
  user-service/src/main/nodejs/codemaster/servicies/user/interfaces/trophy-route.ts
Due: user-service

fix(api-gateway): update nginx configuration file
  api-gateway/nginx.conf
Due: none

fix(user): fixing a bug that did not allow multiple users to be saved because trophyschema title and level grade are unique
  user-service/src/main/nodejs/codemaster/servicies/user/infrastructure/schema.ts
Due: user-service

test(user-service): added test for multiple registration
  user-service/src/test/application/user-service.test.ts
Due: user-service

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  71d45c5ae9c459f926752ca043f0e593c121417d
Due: none

fix(user)!: change route for create level and trophy, now are /create
  populate-db/db-service.py
  user-service/src/main/nodejs/codemaster/servicies/user/interfaces/level-route.ts
  user-service/src/main/nodejs/codemaster/servicies/user/interfaces/trophy-route.ts
  user-service/src/test/interface/api.level.test.ts
  user-service/src/test/interface/api.trophy.test.ts
  user-service/src/test/interface/api.user.test.ts
Due: user-service

fix(codequest-service): set db connection uri for tests
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/db-connection.ts
Due: codequest-service

feat(codequest-service): add /health route
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/db-connection.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-controller.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-routes.ts
Due: codequest-service

feat(solution-service): add /health route to check if mongo is up
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/SolutionService.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/domain/repository/SolutionRepository.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/domain/repository/SolutionRepositoryImpl.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/interfaces/SolutionController.kt
Due: none

fix(solution-service): fix detekt issues
  solution-service/config/detekt/detekt.yml
  solution-service/src/main/kotlin/codemaster/servicies/solution/interfaces/SolutionController.kt
Due: none

chore(frontend): init frontend service with vue3 and tailwind3
  frontend-service/.gitignore
  frontend-service/.prettierignore
  frontend-service/.prettierrc.json
  frontend-service/README.md
  frontend-service/index.html
  frontend-service/package-lock.json
  frontend-service/package.json
  frontend-service/postcss.config.js
  frontend-service/public/vite.svg
  frontend-service/src/App.vue
  frontend-service/src/assets/vue.svg
  frontend-service/src/main.ts
  frontend-service/src/style.css
  frontend-service/src/vite-env.d.ts
  frontend-service/tailwind.config.js
  frontend-service/tsconfig.app.json
  frontend-service/tsconfig.json
  frontend-service/tsconfig.node.json
  frontend-service/vite.config.ts
  settings.gradle.kts
  user-service/src/test/interface/api.level.test.ts
  user-service/src/test/interface/api.trophy.test.ts
  user-service/src/test/interface/api.user.test.ts
Due: user-service

feat(frontend): add chose characters page
  frontend-service/index.html
  frontend-service/public/data/characters.json
  frontend-service/public/fonts/Inter-Black.woff2
  frontend-service/public/fonts/Inter-Regular.woff2
  frontend-service/public/icons/back.svg
  frontend-service/public/images/alecs.png
  frontend-service/public/images/barney.png
  frontend-service/public/images/lily.png
  frontend-service/public/images/marshall.png
  frontend-service/public/images/rambo.png
  frontend-service/public/images/robin.png
  frontend-service/public/images/ted.png
  frontend-service/public/images/tracy.png
  frontend-service/src/App.vue
  frontend-service/src/components/CardChoicheable.vue
  frontend-service/src/components/FlatBackButton.vue
  frontend-service/src/pages/Choice.vue
  frontend-service/src/style.css
  frontend-service/tailwind.config.js
Due: none

feat(frontend): add login and register page
  frontend-service/public/images/background-image.png
  frontend-service/public/images/logo.png
  frontend-service/src/App.vue
  frontend-service/src/pages/Login.vue
  frontend-service/src/style.css
  frontend-service/tailwind.config.js
Due: none

fix(frontend): now the color of progress bar and the color of button difficulty have correct colors
  frontend-service/src/components/ButtonFilter.vue
  frontend-service/src/components/CodeQuest.vue
  frontend-service/src/components/ProgressBar.vue
  frontend-service/src/pages/Dashboard.vue
Due: none

feat(frontend): add dashboard page
  frontend-service/package-lock.json
  frontend-service/package.json
  frontend-service/public/data/contacts.json
  frontend-service/public/icons/checked.svg
  frontend-service/public/icons/email.svg
  frontend-service/public/icons/facebook.svg
  frontend-service/public/icons/instagram.svg
  frontend-service/public/icons/telegram.svg
  frontend-service/public/images/icon_baby_no_bg.png
  frontend-service/public/images/project.png
  frontend-service/public/images/trophy-star.png
  frontend-service/src/App.vue
  frontend-service/src/components/ButtonFilter.vue
  frontend-service/src/components/Card.vue
  frontend-service/src/components/CodeQuest.vue
  frontend-service/src/components/ContactsCard.vue
  frontend-service/src/components/ImageLink.vue
  frontend-service/src/components/ProgressBar.vue
  frontend-service/src/main.ts
  frontend-service/src/pages/Choice.vue
  frontend-service/src/pages/Dashboard.vue
  frontend-service/src/style.css
  frontend-service/tailwind.config.js
Due: none

refactor: use eslint and prettier for code formatting
  frontend-service/.prettierignore
  frontend-service/.prettierrc.json
  frontend-service/eslint.config.mjs
  frontend-service/index.html
  frontend-service/package-lock.json
  frontend-service/package.json
  frontend-service/postcss.config.js
  frontend-service/public/data/characters.json
  frontend-service/public/data/contacts.json
  frontend-service/src/.eslintrc.js
  frontend-service/src/App.vue
  frontend-service/src/components/ButtonFilter.vue
  frontend-service/src/components/Card.vue
  frontend-service/src/components/CardChoicheable.vue
  frontend-service/src/components/CodeQuest.vue
  frontend-service/src/components/ContactsCard.vue
  frontend-service/src/components/DashboardCard.vue
  frontend-service/src/components/FlatBackButton.vue
  frontend-service/src/components/ImageLink.vue
  frontend-service/src/components/ProgressBar.vue
  frontend-service/src/main.ts
  frontend-service/src/pages/Choice.vue
  frontend-service/src/pages/Dashboard.vue
  frontend-service/src/pages/HomeChoice.vue
  frontend-service/src/pages/HomeDashboard.vue
  frontend-service/src/pages/HomeLogin.vue
  frontend-service/src/pages/Login.vue
  frontend-service/src/style.css
  frontend-service/tailwind.config.js
  frontend-service/tsconfig.app.json
  frontend-service/tsconfig.json
  frontend-service/tsconfig.node.json
  frontend-service/vite.config.ts
Due: none

build(frontend): add eslint and prettier for well code formatting
  frontend-service/.prettierrc.json
  frontend-service/package-lock.json
  frontend-service/package.json
  frontend-service/src/.eslintrc.js
Due: none

feat(frontend): add notification
  frontend-service/eslint.config.mjs
  frontend-service/public/icons/error.svg
  frontend-service/public/icons/info.svg
  frontend-service/public/icons/success.svg
  frontend-service/src/App.vue
  frontend-service/src/components/ButtonFilter.vue
  frontend-service/src/components/CardChoicheable.vue
  frontend-service/src/components/CodeQuest.vue
  frontend-service/src/components/ContactsCard.vue
  frontend-service/src/components/DashboardCard.vue
  frontend-service/src/components/EventNotification.vue
  frontend-service/src/components/FlatBackButton.vue
  frontend-service/src/components/ImageLink.vue
  frontend-service/src/components/ProgressBar.vue
  frontend-service/src/pages/HomeChoice.vue
  frontend-service/src/pages/HomeDashboard.vue
  frontend-service/src/pages/HomeLogin.vue
Due: none

refactor(frontend): now register page is in login page
  frontend-service/src/pages/HomeLogin.vue
Due: none

refactor(frontend): adjust login page
  frontend-service/public/icons/logo.png
  frontend-service/src/App.vue
  frontend-service/src/pages/HomeLogin.vue
Due: none

feat(frontend): Add settings page
  frontend-service/src/App.vue
  frontend-service/src/components/ButtonWithImage.vue
  frontend-service/src/pages/HomeSetting.vue
Due: none

refactor(frontend): format code with formatter
  frontend-service/eslint.config.mjs
  frontend-service/src/App.vue
  frontend-service/src/components/ButtonFilter.vue
  frontend-service/src/components/ButtonWithImage.vue
  frontend-service/src/components/CardChoicheable.vue
  frontend-service/src/components/CodeQuest.vue
  frontend-service/src/components/ContactsCard.vue
  frontend-service/src/components/DashboardCard.vue
  frontend-service/src/components/EventNotification.vue
  frontend-service/src/components/FlatBackButton.vue
  frontend-service/src/components/ImageLink.vue
  frontend-service/src/components/LanguageButton.vue
  frontend-service/src/components/ProgressBar.vue
  frontend-service/src/components/TextareaLanguage.vue
  frontend-service/src/pages/HomeChoice.vue
  frontend-service/src/pages/HomeDashboard.vue
  frontend-service/src/pages/HomeLogin.vue
  frontend-service/src/pages/HomeProfile.vue
  frontend-service/src/pages/HomeSetting.vue
Due: none

feat(frontend): add code page, this page can provide a code editor for solve codequests
  frontend-service/eslint.config.mjs
  frontend-service/package-lock.json
  frontend-service/package.json
  frontend-service/public/data/languageTemplates.json
  frontend-service/public/icons/debug.svg
  frontend-service/public/icons/dot.svg
  frontend-service/public/icons/home.svg
  frontend-service/public/icons/upload.svg
  frontend-service/src/App.vue
  frontend-service/src/components/ClickableTextWithImage.vue
  frontend-service/src/components/CodeEditor.vue
  frontend-service/src/components/CodeQuest.vue
  frontend-service/src/components/DifficultyButton.vue
  frontend-service/src/components/MarkdownViewer.vue
  frontend-service/src/components/SideBar.vue
  frontend-service/src/components/TextareaCodeLanguages.vue
  frontend-service/src/main.ts
  frontend-service/src/pages/CodePage.vue
  frontend-service/tailwind.config.js
Due: none

feat(frontend): add HomeProfilePage
  frontend-service/package-lock.json
  frontend-service/package.json
  frontend-service/public/icons/add.svg
  frontend-service/public/icons/back.svg
  frontend-service/public/icons/settings.svg
  frontend-service/src/App.vue
  frontend-service/src/components/ButtonWithImage.vue
  frontend-service/src/components/EventNotification.vue
  frontend-service/src/components/LanguageButton.vue
  frontend-service/src/components/TextareaLanguage.vue
  frontend-service/src/pages/HomeLogin.vue
  frontend-service/src/pages/HomeProfile.vue
  frontend-service/src/style.css
  frontend-service/tailwind.config.js
Due: none

feat(frontend): add error page
  frontend-service/public/images/joe.jpg
  frontend-service/src/App.vue
  frontend-service/src/pages/ErrorPage.vue
Due: none

refactor(frontend): change name of all pages, now 'page' is a postfix, and remove line to disable lint rule
  frontend-service/src/App.vue
  frontend-service/src/components/MarkdownViewer.vue
  frontend-service/src/pages/ChoicePage.vue
  frontend-service/src/pages/DashboardPage.vue
  frontend-service/src/pages/LoginPage.vue
  frontend-service/src/pages/ProfilePage.vue
  frontend-service/src/pages/SettingPage.vue
Due: none

Path conditions:
  authentication-service: any of: authentication-service/
  codequest-service: any of: codequest-service/
  user-service: any of: user-service/
