Repository AlexTesta00/CodeMaster: changes, and which Codecov flags are due for each by the changed paths.
All: authentication-service, codequest-service, user-service

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1

coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
      authentication-service:
        target: 80%
      codequest-service:
        target: 80%
      user-service:
        target: 80%
    patch:
      default:
        target: 70%
        threshold: 1%

flags:
  authentication-service:
    paths:
      - authentication-service/
  codequest-service:
    paths:
      - codequest-service/
  user-service:
    paths:
      - user-service/

build: separate build and production environments for authentication-service image and user-service image
  authentication-service/Dockerfile
  frontend-service/Dockerfile
  user-service/Dockerfile
Due: authentication-service, user-service

feat(user): now welcome trophy is awarded by user-service
  frontend-service/src/pages/LoginPage.vue
  frontend-service/src/utils/game-logic.ts
  user-service/src/main/nodejs/codemaster/servicies/user/infrastructure/consumer.ts
Due: user-service

chore(release): 3.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  685568ebd1829abfef3b53699b404562fcbdf911
Due: none

chore(release): 3.5.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  13aa5ae1759be8aa42636aa5ab0e2c6855ba0732
Due: none

Notes added by 'git notes add'
  a5eb8308fc6e2063781d3af8a6b11ca4362369ea
Due: none

chore(release): 3.5.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

refactor(code-generator-service): mock all tests
  code-generator-service/build.gradle.kts
  code-generator-service/src/main/resources/application-test.properties
  code-generator-service/src/test/kotlin/infrastructure/CodeQuestCodeRepositoryTest.kt
  code-generator-service/src/test/kotlin/interfaces/ApiTest.kt
  code-generator-service/src/test/kotlin/service/CodeGeneratorServiceTest.kt
Due: none

refactor(solution-service): mock all tests
  build.gradle.kts
  code-generator-service/src/main/resources/application-test.properties
  code-generator-service/src/main/resources/templates/main/JavaTemplate
  code-generator-service/src/main/resources/templates/main/KotlinTemplate
  code-generator-service/src/main/resources/templates/main/ScalaTemplate
  code-generator-service/src/main/resources/templates/test/JavaTemplate
  code-generator-service/src/main/resources/templates/test/KotlinTemplate
  code-generator-service/src/main/resources/templates/test/ScalaTemplate
  solution-service/build.gradle.kts
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/ServiceException.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/SolutionService.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/errors/ServiceException.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/infrastructure/docker/DockerRunner.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/infrastructure/docker/DockerRunnerConfig.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/infrastructure/docker/DockerRunnerImpl.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/infrastructure/docker/LanguageCommands.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/interfaces/SolutionController.kt
  solution-service/src/main/resources/application-test.properties
  solution-service/src/test/kotlin/com/codemaster/solutionservice/interfaces/ApiTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/interfaces/DockerRunnerTestConfig.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/ExecuteSolutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/JavaExecutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/KotlinExecutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/ScalaExecutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/SolutionServiceTest.kt
Due: none

fix: resolve tests error that prevent mongo to start
  code-generator-service/src/test/kotlin/infrastructure/CodeQuestCodeRepositoryTest.kt
  code-generator-service/src/test/kotlin/interfaces/ApiTest.kt
  code-generator-service/src/test/kotlin/service/CodeGeneratorServiceTest.kt
  code-generator-service/src/test/kotlin/utility/Utility.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/infrastructure/SolutionRepositoryTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/interfaces/ApiTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/ExecuteSolutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/SolutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/utility/Utility.kt
Due: none

fix: resolve tests error that prevent mongo to start
  code-generator-service/src/test/kotlin/interfaces/ApiTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/infrastructure/SolutionRepositoryTest.kt
Due: none

fix: remove mongo and docker jobs from ci/cd file
  .github/workflows/CI-CD.yml
Due: none

refactor(gradle): now dockerCompose gradle task is detached
  build.gradle.kts
Due: none

fix(frontend-service): fix issue that prevents fetching codequest if user-service is unavailable
  frontend-service/src/components/CommentsPanel.vue
  frontend-service/src/pages/DashboardPage.vue
Due: none

ci: now can execute build and test on macos and windows platform
  .github/workflows/CI-CD.yml
  build.gradle.kts
Due: none

chore: update docker image version
  authentication-service/Dockerfile
  codequest-service/Dockerfile
  community-service/Dockerfile
  docker-compose.yml
  frontend-service/Dockerfile
  user-service/Dockerfile
Due: authentication-service, codequest-service, user-service

refactor: change dockerCmd variable to function in gradle build file
  build.gradle.kts
Due: none

fix: add timeout to api requests
  frontend-service/src/utils/api.ts
Due: none

fix(authentication): fixed a test that failed non-deterministically
  authentication-service/src/test/interface/authentication-service-api.test.ts
Due: authentication-service

fix(user): fixed test that fail non-deterministically
  user-service/src/test/interface/api.user.test.ts
Due: user-service

fix: resolve merge conflicts and rebase
  .github/workflows/CI-CD.yml
  authentication-service/Dockerfile
  authentication-service/src/test/interface/authentication-service-api.test.ts
  build.gradle.kts
  code-generator-service/src/main/kotlin/codemaster/services/generator/domain/events/CodequestDeletedEvent.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/domain/events/GenerateCodeEvent.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/infrastructure/rabbitmq/Consumer.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/infrastructure/rabbitmq/RabbitMqConfig.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/interfaces/CodeGeneratorController.kt
  code-generator-service/src/test/kotlin/interfaces/ApiTest.kt
  codequest-service/Dockerfile
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/events/codequest-generate.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/middleware/publisher-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/middleware/publisher.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-controller.ts
  codequest-service/src/test/MockRabbitMqEventPublisher.ts
  community-service/Dockerfile
  docker-compose.yml
  frontend-service/Dockerfile
  frontend-service/src/components/CommentsPanel.vue
  frontend-service/src/pages/CodePage.vue
  frontend-service/src/pages/DashboardPage.vue
  frontend-service/src/pages/FunctionExamplesPage.vue
  frontend-service/src/utils/api.ts
  populate-db/db-service.py
  user-service/Dockerfile
  user-service/src/test/interface/api.user.test.ts
Due: authentication-service, codequest-service, user-service

refactor: now codequest service send a rabbitmq message to generate code
  build.gradle.kts
  code-generator-service/src/main/kotlin/codemaster/services/generator/domain/events/CodequestDeletedEvent.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/domain/events/GenerateCodeEvent.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/infrastructure/rabbitmq/Consumer.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/infrastructure/rabbitmq/RabbitMqConfig.kt
  code-generator-service/src/main/kotlin/codemaster/services/generator/interfaces/CodeGeneratorController.kt
  code-generator-service/src/test/kotlin/interfaces/ApiTest.kt
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/events/codequest-generate.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/middleware/publisher-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/middleware/publisher.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-controller.ts
  codequest-service/src/test/MockRabbitMqEventPublisher.ts
  frontend-service/src/components/CommentsPanel.vue
  frontend-service/src/pages/CodePage.vue
  frontend-service/src/pages/DashboardPage.vue
  frontend-service/src/pages/FunctionExamplesPage.vue
  frontend-service/src/utils/api.ts
  populate-db/db-service.py
Due: codequest-service

fix: downgrade gradle version
  code-generator-service/Dockerfile
  code-generator-service/gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
  solution-service/Dockerfile
  solution-service/gradle/wrapper/gradle-wrapper.properties
Due: none

chore: remove -d option from dockerCompose task and modify renovate default branch
  authentication-service/src/test/infrastructure/user-repository.test.ts
  build.gradle.kts
  renovate.json
  user-service/src/test/infrastructure/user-repository.test.ts
Due: authentication-service, user-service

chore(release): 3.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  60d5e18a9f683ae625a0598cfeb3da3e18b029ec
Due: none

fix: add PUT method in CORS policy
  api-gateway/nginx.conf
Due: none

chore(release): 3.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  07f066181d3ec3c328d28a9d54298de285e717b5
Due: none
