Repository AlexTesta00/CodeMaster: changes, and which Codecov flags are due for each by the changed paths.
All: authentication-service, codequest-service, user-service

build(authentication): added healtcheck for authentication-service
  authentication-service/Dockerfile
  docker-compose.yml
Due: authentication-service

build(user): added heatlcheck for user-service
  docker-compose.yml
  user-service/Dockerfile
Due: user-service

build: added start_period to authentication and user service to avoid start failure
  docker-compose.yml
Due: none

chore(release): 3.4.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6d6a9360a5436fc8c00f297d963abb2e441fbbb1
Due: none

refactor(authentication): now rabbitMq and Mongo are mocked in test
  authentication-service/build.gradle.kts
  authentication-service/src/test/interface/authentication-service-api.test.ts
Due: authentication-service

refactor(user): mock MongoDB for test in user-service
  user-service/src/test/interface/api.level.test.ts
  user-service/src/test/interface/api.trophy.test.ts
  user-service/src/test/interface/api.user.test.ts
Due: user-service

refactor(docker): install curl on dockerfile and add heatlh checks on docker-compose
  code-generator-service/Dockerfile
  codequest-service/Dockerfile
  community-service/Dockerfile
  docker-compose.yml
  solution-service/Dockerfile
Due: codequest-service

refactor(ci): remove rabbitMq task for build-and-test
  .github/workflows/CI-CD.yml
Due: none

fix: fixed routes in codequest-service and community-service beacuse /health is not in a correct position
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-routes.ts
  community-service/src/main/nodejs/codemaster/servicies/community/interfaces/community-routes.ts
  docker-compose.yml
Due: codequest-service

fix: fix bug that not show correctly docs info into github site
  docs/static/swagger-config.json
Due: none

fix: added front-end service in build
  build.gradle.kts
  settings.gradle.kts
Due: none

chore(release): 3.4.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  aed3f936d407b74cd0399fd5b568d0e1d62738ce
Due: none

feat(frontend): added timeout to axios request for user-service and authentication-service, and added Service Unavaiable error message
  frontend-service/src/pages/LoginPage.vue
  frontend-service/src/pages/ProfilePage.vue
  frontend-service/src/utils/api.ts
  frontend-service/src/utils/error-message-traductor.ts
Due: none

build(docker): replace CMD command with best practcies syntax
  authentication-service/Dockerfile
  codequest-service/Dockerfile
  community-service/Dockerfile
  user-service/Dockerfile
Due: authentication-service, codequest-service, user-service

ci: added versioning to docker image
  .github/workflows/CI-CD.yml
Due: none

chore(release): 3.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4869ec9d6811a17ef166df3d3c094dfd22e3f54c
Due: none

feat(frontend): added /monitor routes for check service status
  frontend-service/src/components/ServiceCard.vue
  frontend-service/src/pages/MonitorPage.vue
  frontend-service/src/router/index.ts
  frontend-service/src/utils/api.ts
  frontend-service/src/utils/interface.ts
Due: none

refactor: remove unused console.log
  authentication-service/src/test/application/authentication-service.test.ts
  codequest-service/src/test/interface/api.test.ts
  frontend-service/src/components/CommentsPanel.vue
  frontend-service/src/pages/CodePage.vue
  frontend-service/src/pages/LoginPage.vue
  frontend-service/src/pages/ProfilePage.vue
  frontend-service/src/router/index.ts
Due: authentication-service, codequest-service

fix(frontend): now when a service goes offline, the frontend continues to work
  frontend-service/src/pages/DashboardPage.vue
Due: none

chore(release): 3.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  764e93035106b365629f286d6e93a143361ee483
Due: none

feat(gateway): now upstream have max_fails and fail_timeout to esclude upstream if request fail in x attemps
  api-gateway/nginx.conf
Due: none

fix(gateway): fix /wpad.dat error
  api-gateway/nginx.conf
Due: none

feat(user): now welcome trophy is awarded by user-service
  frontend-service/src/pages/LoginPage.vue
  frontend-service/src/utils/game-logic.ts
  user-service/src/main/nodejs/codemaster/servicies/user/infrastructure/consumer.ts
Due: user-service

build: separate build and production environments for authentication-service image and user-service image
  authentication-service/Dockerfile
  frontend-service/Dockerfile
  user-service/Dockerfile
Due: authentication-service, user-service

Path conditions:
  authentication-service: any of: authentication-service/
  codequest-service: any of: codequest-service/
  user-service: any of: user-service/
