Repository AlexTesta00/CodeMaster: changes, and which Codecov flags are due for each by the changed paths.
All: authentication-service, codequest-service, user-service

Notes added by 'git notes add'
  9b779aa64a8f22c211a885aca4f5aaa53c8b0c7f
Due: none

feat(authentication): add RabbitMQ dependency
  authentication-service/package-lock.json
  authentication-service/package.json
Due: authentication-service

feat(user): add RabbitMQ dependency
  user-service/package-lock.json
  user-service/package.json
Due: user-service

build(authentication): add task for create and delete rabbitmq container
  authentication-service/build.gradle.kts
Due: authentication-service

feat(authentication): add publisher, when user call register or delete API, the events are publish in exchange
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/infrastructure/publisher.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/interfaces/authentication-controller.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/server.ts
  authentication-service/src/test/interface/authentication-service-api.test.ts
Due: authentication-service

build: add rabbitmq service into docker-compose, modify gradle.properties because gradle must not reuse configuration cache
  docker-compose.yml
  gradle.properties
Due: none

fix(ci): add env variable for rabbitMQ
  .github/workflows/CI-CD.yml
Due: none

ci: pull rabbitmq3 image
  .github/workflows/CI-CD.yml
Due: none

feat(user): add rabbit consumer, when user call register or deleting API, user-service record or delete the user
  user-service/src/main/nodejs/codemaster/servicies/server.ts
  user-service/src/main/nodejs/codemaster/servicies/user/infrastructure/consumer.ts
Due: user-service

refactor(codequest-service): add difficulty of codequest
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/codequest-factory.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/codequest.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/difficulty.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/example.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/problem.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/codequest/codequest-model.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/codequest/codequest-repository-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/codequest/codequest-repository.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-controller.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-routes.ts
  codequest-service/src/test/application/codequest-service.test.ts
  codequest-service/src/test/domain/codequest-factory.test.ts
  codequest-service/src/test/infrastructure/codequest-repository.test.ts
  codequest-service/src/test/interface/api.test.ts
Due: codequest-service

refactor(codequest-service): change language model to save the file extension and change app route
  codequest-service/eslint.config.mjs
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/application/codequest-service.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/difficulty.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/example.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/codequest/problem.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/language/language-factory.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/domain/language/language.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/index.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/codequest/codequest-model.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/codequest/codequest-repository-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/language/language-model.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/language/language-repository-impl.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/language/languages.json
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/infrastructure/language/populate.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/codequest-controller.ts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/interfaces/server.ts
  codequest-service/src/test/application/codequest-service.test.ts
  codequest-service/src/test/domain/codequest-factory.test.ts
  codequest-service/src/test/domain/language-factory.test.ts
  codequest-service/src/test/infrastructure/codequest-repository.test.ts
  codequest-service/src/test/infrastructure/language-repository.test.ts
  codequest-service/src/test/interface/api.test.ts
Due: codequest-service

feat(gateway): add gateway service
  api-gateway/Dockerfile
  api-gateway/nginx.conf
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/server.ts
  build.gradle.kts
  codequest-service/src/main/nodejs/codemaster/servicies/codequest/index.ts
  docker-compose.yml
  settings.gradle.kts
  user-service/src/main/nodejs/codemaster/servicies/server.ts
Due: authentication-service, codequest-service, user-service

fix(gateway): remove build task from gradle
  build.gradle.kts
  settings.gradle.kts
Due: none

refactor(solution-service): change solution-service route to /api/v1/solutions/
  solution-service/Dockerfile
  solution-service/src/main/kotlin/codemaster/servicies/solution/interfaces/SolutionController.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/interfaces/ApiTest.kt
Due: none

feat(gateway): add gateway service
  api-gateway/Dockerfile
  api-gateway/nginx.conf
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/server.ts
  build.gradle.kts
  docker-compose.yml
  settings.gradle.kts
  user-service/src/main/nodejs/codemaster/servicies/server.ts
Due: authentication-service, user-service

refactor(docker): add solution-service containers to docker-compose file
  docker-compose.yml
  solution-service/src/main/kotlin/codemaster/servicies/solution/interfaces/SolutionController.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/interfaces/ApiTest.kt
Due: none

feat(docker): now rabbitMq have a healt_check and all depends_on have a condition
  docker-compose.yml
Due: none

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  efee8e831dbf52a4d56e5ea7bab18519542e5b03
Due: none

refactor(docker-compose): add docker solution service to docker compose
  docker-compose.yml
Due: none

refactor(solution-service): now solution service generates two files to execute
  solution-service/src/main/kotlin/codemaster/servicies/solution/Application.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/SolutionService.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/utility/UtilityFunctions.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/domain/model/ExecutionResult.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/interfaces/SolutionController.kt
  solution-service/src/main/resources/application.properties
  solution-service/src/main/resources/templates/main/JavaTemplate
  solution-service/src/main/resources/templates/main/KotlinTemplate
  solution-service/src/main/resources/templates/main/ScalaTemplate
  solution-service/src/main/resources/templates/test/JavaTemplate
  solution-service/src/main/resources/templates/test/KotlinTemplate
  solution-service/src/main/resources/templates/test/ScalaTemplate
  solution-service/src/test/kotlin/com/codemaster/solutionservice/interfaces/ApiTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/JavaExecutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/ScalaExecutionServiceTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/SolutionServiceTest.kt
Due: none

fix(solution-service): files to be executed are compressed before pass them to container
  solution-service/Dockerfile
  solution-service/build.gradle.kts
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/utility/LanguageCommands.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/utility/UtilityFunctions.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/repository/SolutionRepositoryTest.kt
  solution-service/src/test/kotlin/com/codemaster/solutionservice/service/KotlinExecutionServiceTest.kt
Due: none

refactor(multi-lang-runner): now the docker image install docker cli
  multi-lang-runner/Dockerfile
Due: none

refactor(solution-service): remove magic numbers
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/SolutionService.kt
  solution-service/src/main/kotlin/codemaster/servicies/solution/application/utility/UtilityFunctions.kt
Due: none

refactor(docker-compose): add solutionservice to the api-geteway
  docker-compose.yml
Due: none

chore(git): add compile and execution directory to .gitignore
  .gitignore
Due: none

feat(authenticaton): add /status route for check if authentication service is ready
  authentication-service/eslint.config.mjs
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/infrastructure/db-connection.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/infrastructure/publisher.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/interfaces/authentication-controller.ts
  authentication-service/src/main/nodejs/codemaster/servicies/authentication/interfaces/authentication-routes.ts
Due: authentication-service

Path conditions:
  authentication-service: any of: authentication-service/
  codequest-service: any of: codequest-service/
  user-service: any of: user-service/
